// ------------------------------
// edX Pattern Library: Components - Forms

// About: Contains base styling for forms

// #GLOBAL
// #INPUT TEXT
// #INPUT RADIO/CHECKBOX
// #SELECT
// #TEXTAREA

// ----------------------------
// #GLOBAL
// ----------------------------
.form {
    display: inline-block;
}

.field-group {
    @include clearfix;
    margin-bottom: spacing-vertical(base); // do we want to put default spacing between fields?

    .helper-text { // do we want to ensure markup structure by nesting?
        display: block;
        margin-top: spacing-vertical(x-small);
        font-size: font-size(small);
        color: palette(grayscale-cool, dark);
    }
}

.form-label {
    display: block;
    margin-bottom: spacing-vertical(x-small);
}

.input,
.select,
.textarea {
    @include transition(
        color timing(xx-fast) ease-in-out 0s,
        border-color timing(xx-fast) ease-in-out 0s
    );
    display: inline-block;
    min-width: ($baseline*20) + px; // for the purposes of the demo... can probably get moved elsewhere...
    padding: ($baseline/2) + px;
    border: 1px solid palette(grayscale-cool, x-light);
    background: palette(grayscale, white);
    font-family: $text-base-font-family;
    font-size: font-size(base);
    color: palette(grayscale-cool, x-dark);

    &:focus {
        outline: none;
    }
}

// ----------------------------
// #INPUT TEXT
// ----------------------------
.input-text {

    &:focus,
    &.is-active {
        border-color: palette(primary, base);
        color: palette(grayscale, dark);
    }

    &:disabled,
    &.is-disabled {
        border-color: palette(grayscale, light);
        background: palette(grayscale, x-light);
    }

    &.input-simple {
        padding: ($baseline/2) + px 0;
        border-width: 0 0 2px 0;

        &:focus,
        &.is-active {
            border-color: palette(grayscale, dark);
        }
    }
}

// ----------------------------
// #SELECT
// ----------------------------
.wrapper-replace-select {
    position: relative;
}

.input-select {
    min-height: ($baseline*2) + px; // needs to match the height of the replaced span

    &:focus,
    &.is-active {
        border-color: palette(primary, base);
        color: palette(grayscale, dark);
    }

    &:disabled,
    &.is-disabled {
        border-color: palette(grayscale, light);
        background: palette(grayscale, x-light);
    }

    &.is-replaced {
        position: absolute;
        z-index: z-index(mid-front);
    }

    &.is-transparent {
        opacity: 0;
    }
}

.wrapper-custom-select {
    @extend .input;
    @extend .input-select;
    position: absolute;
    display: inline;
    top: 0;
    left: 0;
    width: auto;
    z-index: z-index(base);

    &:focus,
    &.is-active {
        @extend .input-select
    }
}